MONGO_URI=mongodb://bhavikapatel4298_db_user:bhavikaparkpluse@ac-g0aegda-shard-00-00.5a0szq8.mongodb.net:27017,ac-g0aegda-shard-00-01.5a0szq8.mongodb.net:27017,ac-g0aegda-shard-00-02.5a0szq8.mongodb.net:27017/parkpulse?ssl=true&replicaSet=atlas-eb8704-shard-0&authSource=admin&appName=Cluster0
PORT=3000
AI_SERVICE_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173
